.hover-me:hover{
    background-color: rgb(157, 255, 157);
    border: 1px;
    border-radius: 5px;
    /* height: 200px; */
}
/* .hover-me2:hover{
    background-color: rgba(0, 174, 255, 0.562);
    border: 1px;
    border-radius: 5px;
} */

#tran-area{
    background-color: rgb(228, 231, 240);
    border-radius: 5px;
    display: none;
    position:fixed;
    /* width: 86.5%; */
    /* block-size: fit-content; */
    border: 2px solid rgb(67, 110, 252) ;
    /* height: 0px; */
    /* transform: translate(0,0); */
    max-width: 72%;

}

.trans-content{
    margin: 0px 5px;
}

#content{
    display: none;
}

#exercise{
    display: none;
}

#btv {
    display: none;
}