{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{% block title %}{% endblock %}</title>
    
    <!--== Favicon ==-->
    <link rel="shortcut icon" href="{% static 'homepage/img/favicon.ico' %}" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!--== Bootstrap CSS ==-->
    <link href="{% static 'homepage/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!--== Font-awesome Icons CSS ==-->
    <link href="{% static 'homepage/css/font-awesome.min.css' %}" rel="stylesheet"/>
    <!--== Pe Icon 7 Min Icons CSS ==-->
    <link href="{% static 'homepage/css/pe-icon-7-stroke.min.css' %}" rel="stylesheet"/>
    <!--== Ionicons CSS ==-->
    <link href="{% static 'homepage/css/ionicons.css' %}" rel="stylesheet"/>
    <!--== Animate CSS ==-->
    <link href="{% static 'homepage/css/animate.css' %}" rel="stylesheet"/>
    <!--== Aos CSS ==-->
    <link href="{% static 'homepage/css/aos.css' %}" rel="stylesheet"/>
    <!--== FancyBox CSS ==-->
    <link href="{% static 'homepage/css/jquery.fancybox.min.css' %}" rel="stylesheet"/>
    <!--== Slicknav CSS ==-->
    <link href="{% static 'homepage/css/slicknav.css' %}" rel="stylesheet"/>
    <!--== Swiper CSS ==-->
    <link href="{% static 'homepage/css/swiper.min.css' %}" rel="stylesheet"/>
    <!--== Slick CSS ==-->
    <link href="{% static 'homepage/css/slick.css' %}" rel="stylesheet"/>
    <!--== Main Style CSS ==-->
    <link href="{% static 'homepage/css/style.css' %}" rel="stylesheet" />
    <!-- custom css -->
    <link href="{% static 'homepage/css/my-css.css' %}" rel="stylesheet" />
</head>

<div class="wrapper home-default-wrapper">
  
    <!--== Start Header Wrapper ==-->
    <header class="header-wrapper">
      <div class="header-middle">
        <div class="container">
          <div class="row row-gutter-0 align-items-center">
            <div class="col-12">
              <div class="header-align">
                <div class="header-align-left">
                  <div class="header-logo-area">
                    <a href="index.html">
                      <img class="logo-main" src="{% static 'homepage/img/logo.png' %}" alt="Logo" />
                      <img class="logo-light" src="{% static 'homepage/img/logo.png' %}" alt="Logo" />
                    </a>
                  </div>
                </div>
                <div class="header-align-center">
                  <div class="header-search-box">
                    <form action="#" method="post">
                      <div class="form-input-item">
                        <label for="search" class="sr-only">Search Everything</label>
                        <input type="text" id="search" placeholder="Search Everything">
                        <button type="submit" class="btn-src">
                          <i class="pe-7s-search"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-area header-default sticky-header">
        <div class="container">
          <div class="row row-gutter-0 align-items-center">
            <div class="col-4 col-sm-6 col-lg-2">
              <div class="header-logo-area">
                <a href="{% url 'home:index' %}">
                  <img class="logo-main" src="{% static 'homepage/img/logo.png' %}" alt="Logo" />
                  <img class="logo-light" src="{% static 'homepage/img/logo.png' %}" alt="Logo" />
                </a>
              </div>
            </div>
            <div class="col-lg-8 sticky-md-none">
              <div class="header-navigation-area d-none d-md-block">
                <ul class="main-menu nav position-relative">
                  <li><a class="ml--2" href="{% url 'home:index' %}">Home</a></li>
                  <li><a href="{% url 'home:about' %}">About</a></li>
                  <li><a href="{% url 'home:blogs' %}">Blog</a></li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-8 col-sm-6 col-lg-2">
              <div class="header-action-area">
                <div class="header-action-search">
                  <button class="btn-search btn-search-menu">
                    <i class="pe-7s-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--== End Header Wrapper ==-->
    {% block content %}

    {% endblock %}
</div>

<!--=======================Javascript============================-->

<!--=== Modernizr Min Js ===-->
<script src="{% static 'homepage/js/modernizr.js' %}"></script>
<!--=== jQuery Min Js ===-->
<script src="{% static 'homepage/js/jquery-main.js' %}"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="{% static 'homepage/js/jquery-migrate.js' %}"></script>
<!--=== Popper Min Js ===-->
<script src="{% static 'homepage/js/popper.min.js' %}"></script>
<!--=== Bootstrap Min Js ===-->
<script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
<!--=== jquery Appear Js ===-->
<script src="{% static 'homepage/js/jquery.appear.js' %}"></script>
<!--=== jquery Swiper Min Js ===-->
<script src="{% static 'homepage/js/swiper.min.js' %}"></script>
<!--=== jquery Fancybox Min Js ===-->
<script src="{% static 'homepage/js/fancybox.min.js' %}"></script>
<!--=== jquery Aos Min Js ===-->
<script src="{% static 'homepage/js/aos.min.js' %}"></script>
<!--=== jquery Slicknav Js ===-->
<script src="{% static 'homepage/js/jquery.slicknav.js' %}"></script>
<!--=== jquery Countdown Js ===-->
<script src="{% static 'homepage/js/jquery.countdown.min.js' %}"></script>
<!--=== jquery Tippy Js ===-->
<script src="{% static 'homepage/js/tippy.all.min.js' %}"></script>
<!--=== Isotope Min Js ===-->
<script src="{% static 'homepage/js/isotope.pkgd.min.js' %}"></script>
<!--=== Parallax Min Js ===-->
<script src="{% static 'homepage/js/parallax.min.js' %}"></script>
<!--=== Slick  Min Js ===-->
<script src="{% static 'homepage/js/slick.min.js' %}"></script>
<!--=== jquery Wow Min Js ===-->
<script src="{% static 'homepage/js/wow.min.js' %}"></script>
<!--=== jquery Zoom Min Js ===-->
<script src="{% static 'homepage/js/jquery-zoom.min.js' %}"></script>

<!--=== Custom Js ===-->
<script src="{% static 'homepage/js/custom.js' %}"></script>
<script src="{% static 'homepage/js/my-function.js' %}"></script>
</html>