{% extends 'homepage/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<title>{% block title %} Home {% endblock %}</title>

    
</head>

<body>

<!--wrapper start-->
<div class="wrapper home-default-wrapper">

  {% block content %}
    <!--== Start Blog Area Wrapper ==-->
    <section class="blog-area blog-default-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 m-auto">
            <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
              <h2 class="title">Bài Nghe</h2>
              <div class="desc">
                <p>Lựa chọn bài để nghe</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-duration="1300">
          {% for blog in blogs %}
          <div class="col-lg-4 col-md-6 col-sm-6">
            <!--== Start Blog Post Item ==-->
            <div class="post-item">
              <div class="thumb">
                <a href="{% url 'home:blogdetail' blog.id %}"><img src="{{ blog.photo }}" alt="Image"></a>
              </div>
              <div class="content">
                <div class="meta">By, <a class="author" href="blog.html">{{ blog.author }} </a><span class="dots"></span><span class="post-date">{{ blog.editdate|date:"d N, o" }}</span></div>
                <h4 class="title">
                  <a href="{% url 'home:blogdetail' blog.id %}">{{ blog.title }}</a>
                </h4>
                <a class="btn-theme" href="{% url 'home:blogdetail' blog.id %}">Read More</a>
              </div>
            </div>
            <!--== End Blog Post Item ==-->
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!--== End Blog Area Wrapper ==-->
  </main>

  <!--== Start Footer Area Wrapper ==-->
  <footer class="footer-area default-style" >
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-lg-3">
            <div class="widget-item item-style3">
              <div class="about-widget">
                <a class="footer-logo" href="index.html">
                  <img src="{% static 'homepage/img/logo-light.png' %}" alt="Logo">
                </a>
                <p>Lorem ipsum dolor sit amet, consecl adipisicing elit, sed do eiusmod teml incididunt ut labore et dolore magna aliqua Ut enim</p>
                <div class="widget-social-icons">
                  <a href="#"><i class="ion-social-twitter"></i></a>
                  <a href="#"><i class="ion-social-tumblr"></i></a>
                  <a href="#"><i class="ion-social-facebook"></i></a>
                  <a href="#"><i class="ion-social-instagram-outline"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-2">
            <div class="widget-item item-style1">
              <h4 class="widget-title">Quick Links</h4>
              <h4 class="widget-title widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#dividerId-1">Quick Links</h4>
              <div id="dividerId-1" class="collapse widget-collapse-body">
                <nav class="widget-menu-wrap">
                  <ul class="nav-menu nav item-hover-style">
                    <li><a href="index.html">- Support</a></li>
                    <li><a href="index.html">- Helpline</a></li>
                    <li><a href="index.html">- Courses</a></li>
                    <li><a href="about.html">- About</a></li>
                    <li><a href="index.html">- Event</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-2">
            <div class="widget-item item-style1">
              <h4 class="widget-title">Other Page</h4>
              <h4 class="widget-title widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#dividerId-2">Other Page</h4>
              <div id="dividerId-2" class="collapse widget-collapse-body">
                <nav class="widget-menu-wrap item-hover-style">
                  <ul class="nav-menu nav">
                    <li><a href="about.html">- About</a></li>
                    <li><a href="blog.html">- Blog</a></li>
                    <li><a href="index.html">- Speakers</a></li>
                    <li><a href="contact.html">- Contact</a></li>
                    <li><a href="index.html">- Tricket</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-lg-2">
            <div class="widget-item item-style2">
              <h4 class="widget-title">Company</h4>
              <h4 class="widget-title widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#dividerId-3">Company</h4>
              <div id="dividerId-3" class="collapse widget-collapse-body">
                <nav class="widget-menu-wrap item-hover-style">
                  <ul class="nav-menu nav">
                    <li><a href="index.html">- Jesco</a></li>
                    <li><a href="shop.html">- Shop</a></li>
                    <li><a href="contact.html">- Contact us</a></li>
                    <li><a href="login-register.html">- Log in</a></li>
                    <li><a href="index.html">- Help</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-3">
            <div class="widget-item">
              <h4 class="widget-title">Store Information.</h4>
              <h4 class="widget-title widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#dividerId-4">Store Information.</h4>
              <div id="dividerId-4" class="collapse widget-collapse-body">
                <p class="widget-address">2005 Your Address Goes Here. <br>896, Address 10010, HGJ</p>
                <ul class="widget-contact-info">
                  <li>Phone/Fax: <a href="tel://0123456789">0123456789</a></li>
                  <li>Email: <a href="mailto://demo@example.com">demo@example.com</a></li>
                </ul>
                <div class="widget-payment-info">
                  <div class="thumb">
                    <a href="index.html"><img src="{% static 'homepage/img/photos/payment1.png' %}" alt="Image"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="footer-bottom-content">
          <div class="row text-center">
            <div class="col-sm-12">
              <div class="widget-copyright">
                <p><i class="fa fa-copyright"></i> 2021 <span>KIDOL. </span> Made with <i class="fa fa-heart"></i> by <a target="_blank" href="https://www.hasthemes.com/">HasThemes</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-shape bg-img" data-bg-img="{% static 'homepage/img/photos/footer1.png"></div>
  </footer>
  <!--== End Footer Area Wrapper ==-->
  
  <!--== Scroll Top Button ==-->
  <div class="scroll-to-top"><span class="fa fa-angle-double-up"></span></div>


  <!--== Start Side Menu ==-->
  <aside class="off-canvas-wrapper">
    <div class="off-canvas-inner">
      <div class="off-canvas-overlay d-none"></div>
      <!-- Start Off Canvas Content Wrapper -->
      <div class="off-canvas-content">
        <!-- Off Canvas Header -->
        <div class="off-canvas-header">
          <div class="close-action">
            <button class="btn-close"><i class="pe-7s-close"></i></button>
          </div>
        </div>

        <div class="off-canvas-item">
          <!-- Start Mobile Menu Wrapper -->
          <div class="res-mobile-menu">
            <!-- Note Content Auto Generate By Jquery From Main Menu -->
          </div>
          <!-- End Mobile Menu Wrapper -->
        </div>
        <!-- Off Canvas Footer -->
        <div class="off-canvas-footer"></div>
      </div>
      <!-- End Off Canvas Content Wrapper -->
    </div>
  </aside>
  <!--== End Side Menu ==-->

  {% endblock %}
</div>

</body>


<!-- Mirrored from template.hasthemes.com/kidol/kidol/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Nov 2021 15:06:10 GMT -->
</html>